<link href="/stylesheets/cRoom.css" rel="stylesheet">
<link href="/stylesheets/chatroom.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/javascripts/cRoom.js"></script>
<div class="container">
    <h1 class="text-center" style="color:aliceblue">MongOOseChat</h1>
    <div class="messaging" >
      <div class="inbox_msg" >
        <div class="mesgs" >
          <div class="msg_history">
          </div>
            <div class="type_msg">
                <div class="input_msg_write">
                    <p class="lead emoji-picker-container">
                        <textarea class="write_msg" rows="3" placeholder="type your message here" data-emojiable="true"></textarea>
                        <button class="msg_send_btn" type="button" onclick="broadCastMsg();" ><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                        <div class="upload-btn-wrapper">
                          <button class="upload_btn"><i class="fa fa-camera" aria-hidden="true"></i></button>
                          <input type="file" name="myfile" id="img_input" accept='image/*' />
                        </div>
                    </p>
                </div>
            </div>
        </div>
      </div> 
    </div>
</div>
<!-- The actual snackbar -->
<div id="snackbar" ></div>
<input type="hidden" id="thisName" value="{{userName}}">
<script src="/javascripts/config.js"></script>
<script src="/javascripts/util.js"></script>
<script src="/javascripts/jquery.emojiarea.js"></script>
<script src="/javascripts/emoji-picker.js"></script>