<style> 
    input[type=text] {
        width: 40%;
        padding: 12px 20px;
        border: solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        margin-left: 10%;
        float: left;
        height: 9%;
    }

    #submit {;
        width: 10%;
        height: 9.2%;
        float: left;
        display: inline-block;
        border-radius: 4px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        opacity: 0.6;
    }


    #submit:hover {
        opacity: 1;
    }
    h1 {
        color: rgb(255, 255, 255);
        padding-left: 10%;
        padding-top: 10%;
        padding-bottom: 3%;

    }
    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .button:hover span:after {
        opacity: 1;
        right: 0;
    }
    .button:hover span {
        padding-right: 25px;
    }
    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
</style>
<script>
    var socket = io()
    socket.connect('http://192.168.34.54:4747');
    socket.on("newUserEntered", redirectNewUser);
    function setName() {
        if($("#uname").val() === "") {
            alert(" Pick a Username Please!!!!  ");
        }
        else {
            var Uname = $("#uname").val();
            var userObj = {
                userName: Uname
            }
            $.post("http://192.168.34.54:4747/setUserName" , userObj)  
        }
    }
    function redirectNewUser(userObject) {
        socket.close();
        window.location.href = 'http://192.168.34.54:4747/chatroom/' + userObject.Name;
    }
</script>
<h1>
    Welcome To MongOOse Chat
</h1>
<input type="text" id="uname" name="uname" placeholder="Pick a user name to enter chat Room....">
<button id="submit" class="button" onclick="setName();"><span>Enter </span></button>
